/* _______________________________
 Our impact css code
 -------------------- */

.impact-comp {
    position: relative;
    width: 100%;
    padding-block: 4rem;
    /* background-color: #acbaca; */
    background-color: #fffffc;
}

.space-botm{
    margin-bottom: 3rem;
}

.impact-flex-bx {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3rem;
    row-gap: 3rem; */
    gap: 10rem;
}

.imp-bx {
    position: relative;
    width: 15rem;
    /* background-color: #c9d5e0; */
    /* box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.15), inset 15px 15px 10px rgba(255, 255, 255, 0.5), -15px -15px 35px rgba(255, 255, 255, 0.35), inset -1px -1px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 1rem;
    background-color: transparent;

}

.imp-img {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin-bottom: 2.34rem;
    background-color: #9fdab8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0 #152b4a2e , inset 1px 1px 2px rgba(255, 255, 255,0.35) , -1px -1px 5px rgba(255, 255, 255, 1) ; 
    
}

.imp-img:before{
    content: "";
    position: absolute;
    inset: -10px;
    border-radius: 3rem;
    border: .2rem solid #9fdab8;
    border-radius: 50%;

}

.imp-bx2 .imp-img{
    background-color: #6abac1 ;
}



.imp-bx3 .imp-img{
    background-color: #e78e87 ;
}

.imp-bx4 .imp-img{
    background-color: #cdce5a ;
}

.imp-bx5 .imp-img{
    background-color: #9dbc6e ;
}

.imp-img img {
    width: 8rem;
    height: auto;
}

.imp-bx2 .imp-img:before{
    border-color: #6abac1;
}

.imp-bx3 .imp-img:before{
    border-color: #e78e87;
}


.imp-bx4 .imp-img:before{
    border-color: #cdce5a;
}


.imp-bx5 .imp-img:before{
    border-color: #9dbc6e;
}


.imp-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.imp-info h6{
    margin-bottom: .55rem;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: .5px;
    color: #061933;
}

.imp-info p{
    margin-bottom: 0;
    font-size: 1.4rem;
}

.imp-info2 p{
    font-size: 1.6rem;
    line-height: 1.5;
}

.imp-icon{
    font-size: 6rem;
    color: #fff;
}

/* 9fdab8 , 6abac1 ,  e78e87 , cdce5a , 9dbc6e */ 